@import "variables";
@import "button";
@import "typography";
@import "transitions";
@import "containers";

body * {
    font-family: $body-font;
    color: $font;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.5;
    font-family: $heading-font;
}